<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>
    <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
</head>
<body>
    <div class="container">
        <!-- Add Jumbotron to Header -->
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <!-- styling the button: set to large button and in 'Green' -->
            <p><a class="btn btn-success btn-lg" href="/scrape"
                        role="button">Scrape New Data</a></p>
        </div>
        <!-- Add section for Mars News -->
        <div class="row" id="mars-news">
            <div class="col-md-12">
                <div class="media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <h4 class="media-heading">{{mars.news_title}}</h4>
                        <p>{{mars.news_paragraph}}</p>
                    </div>
            </div>
        </div>
        <!-- Mars Featured Image -->
        <div class="row" id="mars-featured-image">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h2>Featured Mars Image</h2>
                <img 
                    src="{{mars.featured_image}}" 
                    class="img-responsive" 
                    alt="Responsive image"
                />
            </div>
            <!-- Mars Facts -->
            <div class="col-xs-6 col-md-4">
                <div class="row" id="mars-facts">
                <h4>Mars Facts</h4>
                <!-- add table-striped to the table using bootstrap in the function mars_facts() defined in "scraping.py"  -->
                {{ mars.facts | safe }}
                </div>
            </div>
        </div>
        <!-- Mars Hemisphere Images -->
        <div class="row" id="mars-hemisphere">
            <div class="col-md-12">
                <h2 style="text-align:center">Mars Hemisphere</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <!-- Loop through the list of dictionaries to retrieve img_url and title -->
                {% for hemisphere in mars.hemispheres %}
                <img
                    src="{{hemisphere.img_url}}"
                    class="img-responsive"
                    alt="Responsive image"
                />
                <h4>{{hemisphere.title}}</h4>
                {% endfor %}
            </div>
        </div>  
    </div>
</body>
</html>